<div fxFlex="50%">
  <h1>New post</h1>
  <mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input name="title" required matInput ngModel/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Content</mat-label>
          <textarea
            name="content"
            required
            ngModel
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
          ></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input name="image" ngModel></app-file-input>
        </mat-form-field>
        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="f.invalid"
          >
            SAVE
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
