<h2>Add comment</h2>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input name="author" matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Comment content</mat-label>
        <textarea
          name="content"
          required
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >
          Add
        </button>
    </form>
  </mat-card-content>
</mat-card>
