<div
  fxFlex.xs="100%"
  fxFlex.lt-lg="33%"
  fxFlex="50%"
>
  <h2>Posts</h2>
  <div *ngFor="let post of posts" class="postDiv">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>{{ post.date }}</mat-card-subtitle>
        <img
          *ngIf="post.image"
          mat-card-lg-image
          [src]="post.image | image"
          [alt]="'Photo of post with id ' + post.id"
        />
      </mat-card-title-group>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a
          [routerLink]="['/news/', post.id]"
          mat-raised-button
          color="primary"
        >
          Read full post
        </a>
        <button
          mat-raised-button
          color="warn"
          (click)="onRemovingPost(post.id)"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

