<div fxFlex="50%">
  <mat-card *ngIf="post">
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.date }}</mat-card-subtitle>
    <mat-card-content>
      <p>{{ post.content }}</p>
    </mat-card-content>
  </mat-card>
  <h2>Comments</h2>
  <mat-card *ngFor="let comment of comments" class="commentCard">
      <div fxLayout="row" fxLayoutAlign="space-between flex-start">
        <p>{{ comment.author }} wrote: " {{ comment.content }} "</p>
        <button
          mat-raised-button
          color="warn"
          (click)="onRemoveComment(comment.id)"
        >
          Delete
        </button>
      </div>
  </mat-card>
  <app-add-comment></app-add-comment>
</div>

